* {
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

body{
  background-color: rgb(222, 222, 222);
}

header h1 {
  text-transform: capitalize;
}

table {
  border: 0.5rem solid rgb(rgb(10, 26, 129), green, blue);
}

#tags table{
  margin: 0 auto;
}

#attributes table{
  margin: 0 auto;
}

td {
  text-align: left;
  padding-right: 1rem;
}

.highlighted {
  background-color: beige;
}