/*
font-family: 'Abril Fatface', serif;
font-family: 'Merriweather', serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

* {
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

body{
  background-color: rgb(222, 222, 222);
}

header h1 {
  text-transform: capitalize;
}

h2 {
  font-family: 'Merriweather', serif;
}

table {
  border: 0.3rem solid rgb(10, 26, 129);
}

th {
  background-color: rgb(200, 127, 44);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

td {
  border-top: 0.1rem solid rgb(10, 26, 129);
  font-family: 'Abril Fatface', serif;
}

#tags table{
  margin: 0 auto;
}

#attributes table{
  margin: 0 auto;
}

td {
  text-align: left;
  padding-right: 1rem;
}

.highlighted {
  background-color: beige;
}